body {
  div#main {
    padding-left: $nav-width;

    div#content {
      padding: $content-padding;
    }

    div#action-menu {
      top: $content-padding;
      padding: $action-menu-padding;
    }
  }
}
